@import 'scss/variables.scss';

.item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  position: relative;
  padding: 11px;
  border-radius: 0.5rem;

  h2 {
    margin-left: 16px;
    color: $grey-300;
    font-weight: 500;
    font-size: 14px;
  }

  .chevron__right {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 11px;
  }

  &__active {
    background: $active;
    h2 {
      color: $white;
    }
    .chevron__right {
      color: $white;
    }
  }
}
