$background: #fafbff;

$border: #eeeeee;

$green-100: #008767;
$green-300: #00b087;
$grey-100: #b5b7c0;
$grey-300: #9197b3;
$grey-500: #838383;
$red-100: #ffc5c5;
$red-300: #df0404;
$white: #fff;
$white-100: #f9fbff;

$active: #5932ea;
